/* LOADING */

#loader{
  position:fixed;
  inset:0;
  background:#050510;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  z-index:9999;
}

.spinner{
  width:60px;
  height:60px;
  border:5px solid #222;
  border-top:5px solid #00f2ff;
  border-radius:50%;
  animation:spin 1s linear infinite;
}

@keyframes spin{
  100%{transform:rotate(360deg);}
}
